.row{
    margin-bottom: 15px;
}
.col{
    padding: 0px;
}
.col-md-8{
    padding: 0px;
}

.header{
    margin-bottom: 1rem;
}

#submit{
    text-align: right;
}

.navbar{
    padding-bottom: 0px;
}

body {
  background-image: linear-gradient(white, #80808080);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}