.card{
    margin-left: 10px;
    margin-right: 10px;
}
.date{
    margin-bottom: 4px;
}
.icon{
    height: 1.8rem;
    width: 1.8rem;
}
.form-board{
    width: 30%;
    border-left: solid #69b0ee 2px;
}
.event-board{
    margin-right: 15px;
}
.form-card{
    margin-bottom: 10px;
}
.left-item, .right-item{
    float: left;
    width: 50%;
}
.right-item{
    text-align: right;
}
.source{
    color: gray;
    font-weight: 700;
}
p{
    margin-bottom: 0;
}