.card{
    margin-bottom: 5pt;
}
.left-item, .right-item{
    float: left;
    width: 50%;
}
.right-item{
    text-align: right;
}
.admin-item{
    align-self: center;
}
.edit-icon{
    width: 30px;
    height: 30px;
}
.edit-button{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    background-color: #89d6f7;
}
.card-body{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}