.card{
    margin-bottom: 5pt;
}
.left-item, .right-item{
    float: left;
    width: 50%;
}
.right-item{
    text-align: right;
}
.delete-item{
    align-self: center;
}
.edit-icon{
    width: 30px;
    height: 30px;
}
