.confirm-item{
    margin-top: 10pt;
    display: inline-block;
}
#preload{
    margin: 0 auto;
    margin-bottom: 10pt;
    display: block;
    max-width: 100%;
    max-height: 600px;
}
.left-item, .right-item{
    float: left;
    width: 50%;
}
.right-item{
    text-align: right;
}

.row {
    max-width: 100%;
    margin: 0;
}

.form-control-file {
    display: none;
}

.photo-filename {
    margin: 0.25em 0;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}