{% set style_file = url_for('static', filename='css/dash.css') %}


{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col event-board">
        <div class="row row-cols-1 row-cols-md-3">
            {% for event in events %}
            {% set event_info = event['event'] %}
            {% set dates = event_info['dates'] %}
            <div class="col mb-2">
                <div class="card h-100">
                    {% if event.get('photos', False) %}
                    <img class="card-img-top" src="{{ event_info['photos']['512'] }}">
                    {% else %}
                    <img class="card-img-top" src="/static/img/icons/other/calendar.svg">
                    {% endif %}
                    <div class="card-body">
                        <a href="event/{{ event_info['id'] }}">
                            <img class="icon" src="{{ url_for('static', filename='img/icons/other/event.svg') }}">
                            <h5 class="card-title">{{ event_info['title'] }}</h5>
                        </a>
                        <div class="dates">
                            <div class="row row-cols-md-2 period">
                                <div class="col-sm">{{ dates['C-N']['name'] }}</div>
                                <div class="col-sm">{{ momentjs(dates['C-N']['date']).format(date_format) }}</div>
                                <div class="col-sm">C-1</div>
                                <div class="col-sm">{{ momentjs(dates['C-1']).format(date_format) }}</div>
                            </div>
                            <div class="row row-cols-md-2 period">
                                <div class="col-sm">C1</div>
                                <div class="col-sm">{{ momentjs(dates['C1']).format(date_format) }}</div>
                                <div class="col-sm">{{ dates['CN']['name'] }}</div>
                                <div class="col-sm">{{ momentjs(dates['CN']['date']).format(date_format) }}</div>
                            </div>
                            <div class="row row-cols-md-2 period">
                                <div class="col-sm">C+1</div>
                                <div class="col-sm">{{ momentjs(dates['C+1']).format(date_format) }}</div>
                                <div class="col-sm">{{ dates['C+N']['name'] }}</div>
                                <div class="col-sm">{{ momentjs(dates['C+N']['date']).format(date_format) }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            {% if event_info['chief_expert'] %}
                            <a class="source" href="user/{{ event_info['chief_expert']['id'] }}">{{ event_info['chief_expert']['first_name'] }} {{
                                event_info['chief_expert']['last_name'] }}</a>
                            {% else %}
                            No Chief Expert
                            {% endif %}
                        </small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-auto form-board">
        <div class="row row-cols-1 row-cols-md-1">
            {% if forms %}
            {% set must_sign_forms = forms['must_sign'] %}
            {% set signed_forms = forms['signed'] %}

            {% for object in must_sign_forms %}
            {% set form_info = object['form']['form'] %}
            <div class="card h-100 form-card">
                <div class="card-body">
                    <a href="/event/{{ object['form']['event_id'] }}/form/{{ form_info['id'] }}">
                        <img class="icon" src="{{ url_for('static', filename='img/icons/other/form.svg') }}">
                        <h5 class="card-title">{{ form_info['title'] }}</h5>
                    </a>
                    <p>{{ text(form_info['content']).short(15) }}</p>
                    <p>For
                            {% if form_info['role'] == 0 %}
                            Competitors
                            {% else %}
                            Experts
                            {% endif %}
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <div class="left-item">
                            {% if momentjs(object['form']['date']).is_able_to_sign() and current_user['id'] not in object['form']['signatory'] %}
                            {{ object }}
                            <a class="source" href="/event/{{ object['form']['event_id'] }}/form/{{ form_info['id'] }}/sign">Sign {{ object['form']['signed'] }}/{{ object['form']['must_sign'] | length }}</a>
                            {% else %}
                            {{ form_info['day'] }}
                            {% endif %}
                        </div>
                        <div class="right-item" style="display: grid;">
                            {{ momentjs(object['form']['date']).format(date_format) }}
                        </div>
                    </small>
                </div>
            </div>
            {% endfor %}

            {% for object in signed_forms %}
            {% set form_info = object['form']['form'] %}
            <div class="card h-100 form-card">
                <div class="card-body">
                    <a href="/event{{ object['form']['event_id'] }}/form/{{ form_info['id'] }}">
                        <img class="icon" src="{{ url_for('static', filename='img/icons/other/form.svg') }}">
                        <h5 class="card-title">{{ form_info['title'] }}</h5>
                    </a>
                    <p>{{ text(form_info['content']).short(15) }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <div class="left-item">
                            {% if form_info['role'] == 0 %}
                            Competitor
                            {% else %}
                            Expert
                            {% endif %}
                        </div>
                        <div class="right-item">
                            {{ momentjs(object['form']['date']).format(date_format) }}
                        </div>
                    </small>
                </div>
            </div>
            {% endfor %}

            {% else %}
            <div class="col mb-2">
                <div class="card">
                    <div class="card-body">No Forms yet</div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}