{% set style_file = url_for('static', filename='css/dash.css') %}


{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col event-board">
        <div class="row row-cols-1 row-cols-md-3">
            {% for event in events %}
            {% set event_info = event['event'] %}
            {% set dates = event_info['dates'] %}
            <div class="col mb-2">
                <div class="card h-100">
                    {% if event.get('photos', False) %}
                    <img class="card-img-top" src="{{ event_info['photos']['512'] }}">
                    {% else %}
                    <img class="card-img-top" src="/static/img/icons/other/calendar.svg">
                    {% endif %}
                    <div class="card-body">
                        <a href="event/{{ event_info['id'] }}">
                            <img class="icon" src="{{ url_for('static', filename='img/icons/other/event.svg') }}">
                            <h5 class="card-title">{{ event_info['title'] }}</h5>
                        </a>
                        <div class="dates">
                            <div class="row row-cols-md-2 period">
                                <div class="col-sm">C-N</div>
                                <div class="col-sm">{{ momentjs(dates['C-N']['date']).format(date_format) }}</div>
                                <div class="col-sm">C-1</div>
                                <div class="col-sm">{{ momentjs(dates['C-1']).format(date_format) }}</div>
                            </div>
                            <div class="row row-cols-md-2 period">
                                <div class="col-sm">C1</div>
                                <div class="col-sm">{{ momentjs(dates['C1']).format(date_format) }}</div>
                                <div class="col-sm">CN</div>
                                <div class="col-sm">{{ momentjs(dates['CN']['date']).format(date_format) }}</div>
                            </div>
                            <div class="row row-cols-md-2 period">
                                <div class="col-sm">C+1</div>
                                <div class="col-sm">{{ momentjs(dates['C+1']).format(date_format) }}</div>
                                <div class="col-sm">C+N</div>
                                <div class="col-sm">{{ momentjs(dates['C+N']['date']).format(date_format) }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            {% if event_info['chief_expert'] %}
                            {{ event_info['chief_expert'] }}
                            {% else %}
                            No Chief Expert
                            {% endif %}
                        </small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-auto form-board">
        <div class="row row-cols-1 row-cols-md-1">
            {% if forms %}
            {% for form in forms %}
            <div class="card h-100">
                <div class="card-body">
                    <a href="form/{{ form['id'] }}">
                        <img class="icon" src="{{ url_for('static', filename='img/icons/other/form.svg') }}">
                        <h5 class="card-title">{{ form['title'] }}</h5>
                    </a>
                    <p>{{ text(form['content']).short(15) }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        {% if event_info['chief_expert'] %}
                        {{ event_info['chief_expert'] }}
                        {% else %}
                        No Chief Expert
                        {% endif %}
                    </small>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col mb-2">
                <div class="card">
                    No Forms yet
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}