{% set title = "Event Information"%}
{% extends 'base.html' %}

{% block content %}

<form method="post">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col">
            {{ form.title.label() }}
        </div>
        <div class="col">
            {{ form.title() }}
            <div class="invalid-feedback">
                {% for error in form.title.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <br>

    <div class="confirm-item" id="submit">
        {{ form.submit() }}
        <input type="button" onclick="history.back();" class="button btn btn-primary" value="Cancel"/>
    </div>

</form>

{% endblock %}