{% set title = 'Participant Manage' %}
{% set style_file = url_for('static', filename='css/list.css') %}
{% set script_file = url_for('static', filename='js/participant.js') %}
{% set chief = participants['participants']['chief-expert'] %}
{% set experts = participants['participants']['experts'] %}
{% set competitors = participants['participants']['competitors'] %}
{% set unassigned = participants['unassigned'] %}

{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>

<table class="table table-hover table-sm">
    <thead>
    <tr class="table-info">
        <th>name</th>
        <th class="mobile-stp">country</th>
        <th class="mobile-stp">about</th>
        <th>role</th>
        <th>assign</th>
    </tr>
    </thead>
    <tbody>

    {% if chief %}
    <tr class="table-light">
        <th scope="col">
            <a href="/user/{{ chief['id'] }}" class="name">
                {% if chief.get('photos', False) %}
                <img src="{{ chief['photos']['128'] }} " class="img-fluid img-thumbnail">
                {% else %}
                <img src="/static/img/icons/other/user.svg" class="img-fluid img-thumbnail">
                {% endif %}
                {{ chief['first_name'] }} {{ chief['last_name'] }}
            </a>
        </th>
        <td class="mobile-stp">
            {{ chief['country']['name'] }}
            {% if chief.get('region',False) %}
            | {{ chief['region']['name'] }}
            {% endif %}
        </td>
        <td class="mobile-stp">
            {% if chief['about'] %}
            {{ chief['about'] }}
            {% else %}
            Empty
            {% endif %}
        </td>
        <td>
            Chief expert
        </td>
        <td class="assign-col">
            <!--Buttons of users-->
            {% if current_user['role'] == 1 %}
            <button class="demote-btn btn btn-warning" value="{{ chief['id'] }},3">demote</button>
            {% endif %}
        </td>
    </tr>
    {% endif %}

    {% for expert in experts %}
    {% set user = expert['user'] %}
    <tr class="table-light">
        <th scope="col">
            <a href="/user/{{ user['id'] }}" class="name">
                {% if user.get('photos', False) %}
                <img src="{{ user['photos']['128'] }} " class="img-fluid img-thumbnail">
                {% else %}
                <img src="/static/img/icons/other/user.svg" class="img-fluid img-thumbnail">
                {% endif %}
                {{ user['first_name'] }} {{ user['last_name'] }}
            </a>
        </th>
        <td class="mobile-stp">
            {{ user['country']['name'] }}
            {% if user.get('region',False) %}
            | {{ user['region']['name'] }}
            {% endif %}
        </td>
        <td class="mobile-stp">
            {% if user['about'] %}
            {{ user['about'] }}
            {% else %}
            Empty
            {% endif %}
        </td>
        <td>
            Expert
        </td>
        <td class="assign-col">
            <!--Buttons of users-->
            {% if not chief and current_user['role'] == 1 %}
            <button class="promote-btn btn btn-success" value="{{ user['id'] }},2">promote</button>
            {% endif %}
            <button class="demote-btn btn btn-warning" value="{{ user['id'] }},2">demote</button>
        </td>
    </tr>
    {% endfor %}


    {% for user in competitors %}
    <tr class="table-light">
        <th scope="col">
            <a href="/user/{{ user['id'] }}" class="name">
                {% if user.get('photos', False) %}
                <img src="{{ user['photos']['128'] }} " class="img-fluid img-thumbnail">
                {% else %}
                <img src="/static/img/icons/other/user.svg" class="img-fluid img-thumbnail">
                {% endif %}
                {{ user['first_name'] }} {{ user['last_name'] }}
            </a>
        </th>
        <td class="mobile-stp">
            {{ user['country']['name'] }}
            {% if user.get('region',False) %}
            | {{ user['region']['name'] }}
            {% endif %}
        </td>
        <td class="mobile-stp">
            {% if user['about'] %}
            {{ user['about'] }}
            {% else %}
            Empty
            {% endif %}
        </td>
        <td>
            Expert
        </td>
        <td class="assign-col">
            <!--Buttons of users-->
            <button class="promote-btn btn btn-success" value="{{ user['id'] }},1">promote</button>
            <button class="demote-btn btn btn-danger" value="{{ user['id'] }},1">delete</button>
        </td>
    </tr>
    {% endfor %}

    {% for user in unassigned %}
    <tr {% if loop.index == 1 %} class="table-warning" {% else %} class="table-light" {% endif %}>
        <th scope="row">
            <a href="/user/{{ user['id'] }}" class="name">
                {% if user.get('photos', False) %}
                <img src="{{ user['photos']['128'] }} " class="img-fluid img-thumbnail">
                {% else %}
                <img src="/static/img/icons/other/user.svg" class="img-fluid img-thumbnail">
                {% endif %}
                {{ user['first_name'] }} {{ user['last_name'] }}
            </a>
        </th>
        <td>
            {{ user['country']['name'] }}
            {% if user.get('region',False) %}
            | {{ user['region']['name'] }}
            {% endif %}
        </td>
        <td>
            {% if user['about'] %}
            {{ user['about'] }}
            {% else %}
            Empty
            {% endif %}
        </td>
        <td>
            Not Competitor
        </td>

        <td class="assign-col">
            <button class="assign-btn btn btn-success" value="{{ user['id'] }},0">assign</button>
        </td>
    </tr>
    {% endfor %}


    </tbody>
</table>

{% endblock %}