{% set title = 'Participant Manage' %}
{% set style_file = url_for('static', filename='css/list.css') %}
{% set script_file = url_for('static', filename='js/participant.js') %}

{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>

<table class="table table-hover table-sm">
    <thead>
    <tr class="table-info">
        <th>name</th>
        <th class="mobile-stp">country</th>
        <th class="mobile-stp">about</th>
        <th>role</th>
        <th>assign</th>
    </tr>
    </thead>
    <tbody>
    {% for participant in participants %}
    {% set user = participant['user'] %}
    <tr class="table-light">
        <th scope="col">
            <a href="/user/{{ user['id'] }}" class="name">
                {% if user.get('photos', False) %}
                <img src="{{ user['photos']['128'] }} " class="img-fluid img-thumbnail">
                {% else %}
                <img src="/static/img/icons/other/user.svg" class="img-fluid img-thumbnail">
                {% endif %}
                {{ user['first_name'] }} {{ user['last_name'] }}
            </a>
        </th>
        <td class="mobile-stp">
            {{ user['country']['name'] }}
            {% if user.get('region',False) %}
            | {{ user['region']['name'] }}
            {% endif %}
        </td>
        <td class="mobile-stp">
            {% if user['about'] %}
            {{ user['about'] }}
            {% else %}
            Empty
            {% endif %}
        </td>
        <td>
            {% if participant['role'] == 0 %}
            Contributor
            {% elif participant['role'] == 1 %}
            Expert
            {% elif participant['role'] == 2 %}
            Chief expert
            {% endif %}
        </td>
        <td class="assign-col">
            <!--Buttons of users-->
            {% if participant['role'] == 3 %}
            <button class="demote-btn btn btn-warning" value="{{ user['id'] }},{{ participant['role'] }}">demote</button>
            {% elif participant['role'] >=1 %}
            <button class="promote-btn btn btn-success" value="{{ user['id'] }},{{ participant['role'] }}">promote</button>
            <button class="demote-btn btn btn-warning" value="{{ user['id'] }},{{ participant['role'] }}">demote</button>
            {% elif participant['role'] == 0 %}
            <button class="promote-btn btn btn-success" value="{{ user['id'] }},{{ participant['role'] }}">promote</button>
            <button class="demote-btn btn btn-danger" value="{{ user['id'] }},{{ participant['role'] }}">delete</button>
            {% else %}
            <button class="promote-btn btn btn-success" value="{{ user['id'] }},{{ participant['role'] }}">assign</button>
            {% endif %}
        </td>
    </tr>
    {% endfor %}


    {% for user in users %}
    <tr {% if loop.index == 1 %} class="table-warning" {% else %} class="table-light" {% endif %}>
        <th scope="row">
            <a href="/user/{{ user['id'] }}" class="name">
                {% if user.get('photos', False) %}
                <img src="{{ user['photos']['128'] }} " class="img-fluid img-thumbnail">
                {% else %}
                <img src="/static/img/icons/other/user.svg" class="img-fluid img-thumbnail">
                {% endif %}
                {{ user['first_name'] }} {{ user['last_name'] }}
            </a>
        </th>
        <td>
            {{ user['country']['name'] }}
            {% if user.get('region',False) %}
            | {{ user['region']['name'] }}
            {% endif %}
        </td>
        <td>
            {% if user['about'] %}
            {{ user['about'] }}
            {% else %}
            Empty
            {% endif %}
        </td>
        <td>
            Not Contributor
        </td>

        <td class="assign-col">
            <button class="assign-btn btn btn-success" value="{{ user['id'] }},0">assign</button>
        </td>
    </tr>
    {% endfor %}


    </tbody>
</table>

{% endblock %}