{% set title = 'Profile of ' + event['title'] %}
{% set style_file = url_for('static', filename='css/profile.css') %}
{% set script_file = url_for('static', filename='js/delete.js') %}
{% set dates =  event['dates'] %}
{% extends 'base.html' %}

{% block content %}

{% if current_user['role'] == 1 %}
<div class="row">
    <div class="col-sm left-item">
        <h1>{{ title }}</h1>
    </div>
    <div class="col-sm right-item admin-item">
        <button class="btn btn-danger delete-btn" value="2,{{ event['id'] }}">Delete</button>
    </div>
</div>
{% else %}
<h1>{{ title }}</h1>
{% endif %}
<div class="row">

    <div class="col-sm">
        <div class="image-item">
            {% if event.get('photos', False) %}
            <img class="img-fluid img-thumbnail" src="{{ event['photos']['512'] }}">
            {% else %}
            <img class="img-fluid img-thumbnail" src="/static/img/icons/other/calendar.svg">
            {% endif %}
        </div>
    </div>


    <div class="col-sm">

        <div class="card">
            <a href="/event/{{ event['id']}}/information" style="background-color: #89d6f7;">
                <img class="edit-icon" src="/static/img/icons/other/edit.svg">
                Event information
            </a>
            <div class="card-body">
                <p>Event title: {{ event['title'] }}</p>
            </div>
        </div>

        <div class="card">
            <a href="/event/{{ event['id']}}/dates" style="background-color: #89d6f7;">
                <img class="edit-icon" src="/static/img/icons/other/edit.svg">
                Dates information
            </a>
            <div class="card-body">
                <p>Start date: {{ momentjs(dates['C-N']['date']).format(date_format) }}</p>
                <p>C1 date: {{ momentjs(dates['C1']).format(date_format) }}</p>
                <p>C+1 date: {{ momentjs(dates['C+1']).format(date_format) }}</p>
                <p>Finish date: {{ momentjs(dates['C+N']['date']).format(date_format) }}</p>
            </div>
        </div>

        <div class="card">
            <a href="/event/{{ event['id']}}/participants" style="background-color: #89d6f7;">
                <img class="edit-icon" src="/static/img/icons/other/edit.svg">
                Participants
            </a>
            <div class="card-body">
                <p class="left-item">Participants: {{ event['participants'] | length }}</p>
                <div class="right-item">
                    <a class="btn btn-warning " href="/event/{{ event['id']}}/participants">Manage</a>
                </div>
            </div>
        </div>

        <div class="card">
            <a href="/event/{{ event['id']}}/forms" style="background-color: #89d6f7;">
                <img class="edit-icon" src="/static/img/icons/other/edit.svg">
                Forms
            </a>
            <div class="card-body">
                <p class="left-item">Forms: {{ event['forms'] | length }}</p>
                <div class="right-item">
                    <a class="btn btn-warning " href="/event/{{ event['id']}}/forms">Manage</a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}