{% set title = 'Create new Form'%}
{% set style_file = url_for("static", filename="css/formRegister.css")%}

{% extends 'base.html' %}

{% block content %}

<h1>{{ title }}</h1>
<form enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="form-item">
        {{ form.title.label }}
        {{ form.title() }}
        <div class="invalid-feedback">
            {% for error in form.title.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="form-item">
        {{ form.day.label }}
        {{ form.day() }}
        <div class="invalid-feedback">
            {% for error in form.day.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="form-item">
        {{ form.content.label }}
        {{ form.content() }}
        <div class="invalid-feedback">
            {% for error in form.content.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="input-group form-item">
        {{ form.example.label }}
        {{ form.example() }}
        <div class="invalid-feedback">
            {% for error in form.example.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="form-item confirm-item" id="submit">
        {{ form.submit() }}
        <input type="button" onclick="history.back();" class="btn btn-primary" value="Cancel"/>
    </div>

</form>

{% endblock %}