{% if edit %}
{% set title = form_data['title'] %}
{% else %}
{% set title = 'Create new Form' %}
{% endif %}
{% set style_file = url_for("static", filename="css/formRegister.css") %}
{% set script_file = url_for("static", filename="js/content.js") %}

{% extends 'base.html' %}

{% block content %}

<h1>{{ title }}</h1>
<form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="form-item">
        {{ form.title.label }}
        {{ form.title() }}
        <div class="invalid-feedback">
            {% for error in form.title.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="form-item">
        {{ form.day.label }}
        {{ form.day() }}
        <div class="invalid-feedback">
            {% for error in form.day.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            {{ form.content.label }}
            {{ form.content() }}
        </div>
        <div class="col-sm">
            <label>Content preview</label>
            <div style="background-color: white" id="preview">Nothing here</div>
        </div>
    </div>

    <div class="invalid-feedback">
        {% for error in form.content.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>


    <div class="input-group form-item" style="margin-bottom: 0;">
        {{ form.role.label }}
        {{ form.role(style="margin-bottom: 0;") }}
    </div>

    <div class="form-item">
        {{ form.errors() }}
        <div class="invalid-feedback">
            {% for error in form.errors.errors %}
            <p style="font-size: 16px;">{{ error }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="form-item confirm-item" id="submit">
        {{ form.submit() }}
        <input type="button" onclick="history.back();" class="btn btn-primary" value="Cancel"/>
    </div>

</form>

{% endblock %}