{% set title = 'Form Sign' %}
{% set style_file = url_for('static', filename='css/formSign.css') %}
{% set form_data = doc['form'] %}
{% extends 'base.html' %}

{% block content %}

{{ doc }}
<h1>Sign</h1>
<div class="document">

    <div class="info">
        <p>Day: {{ form_data['day'] }}({{ momentjs(doc['date']).format(date_format) }}) </p>
        <p>For:{% if form_data['role'] == 1 %}
            Expert
            {% elif form_data['role'] == 2 %}
            Chief Expert
            {% endif %}
        </p>
    </div>

    <p style="text-align: center">{{ form_data['title'] }}</p>
    <div class="modal-body">{{ form_data['content'] }}</div>

    {% if momentjs(doc['date']).is_able_to_sign() %}
    <form class="form" enctype="multipart/form-data">
        {{ form.hidden_tag() }}


        <div class="form-item">
            {{ form.pin.label }}
            {{ form.pin() }}
            <div class="invalid-feedback">
                {% for error in form.pin.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="confirm-item" id="submit">
            {{ form.submit() }}
        </div>
    </form>
    {% endif %}
</div>

{% endblock %}