{% set title = 'Form List' %}
{% set style_file = url_for('static', filename='css/list.css') %}
{% set script_file = url_for('static', filename='js/form.js') %}

{% extends 'base.html' %}

{% block content %}

<h1>{{ title }} {% if event %} of <a href="/event/{{ event['id'] }}" style="color: black;">{{ event['title'] }}</a>{% endif %}</h1>
<table class="table table-hover">
    <thead>
    <tr class="table-info">
        <td>Title</td>
        <td>Day</td>
        <td>Content</td>
        <td>Role</td>
        <td>Assign</td>
    </tr>
    </thead>
    <tbody>
    {% for form in forms %}
    <tr class="table-light">
        <th scope="row"><a class="name" href="/form/{{ form['id'] }}">{{ form['title'] }}</a></th>
        <td>{{ form['day'] }}</td>
        <td>{{ text(form['content']).short(15) }}</td>
        <td>{% if form['role'] == 0 %}
            Competitor
            {% elif form['role'] == 1 %}
            Expert
            {% else %}
            Chief Expert
            {% endif %}
        </td>
        <td>
            <!--TODO: Разделение на те формы, что в событии и нет-->
            <button class="assign-btn btn btn-success" value="{{ form['id'] }},0">assign</button>
            <button class="delete-btn btn btn-danger" value="{{ form['id'] }},1">delete</button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}