{% set title = 'Form Sign' %}
{% set style_file = url_for('static', filename='css/profileSign.css') %}
{% extends 'base.html' %}

{% block content %}

<h1>{{ title }}</h1>

<textarea style="width: inherit; margin-bottom: 15pt;">{{ form_data['content'] }}</textarea>

<form enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="row">
        <div class="col">
            {{ form.pin.label(class="label input-str") }}
        </div>
        <div class="col">
            {{ form.pin() }}
            <div class="invalid-feedback">
                {% for error in form.pin.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <br>

    <div class="confirm-item" id="submit">
        {{ form.submit() }}
        <input type="button" onclick="history.back();" class="button btn btn-primary" value="Cancel"/>
    </div>

</form>

{% endblock %}