{% set title = "Login"%}
{% set style_file = url_for('static', filename='css/password.css')%}
{% extends 'base.html' %}

{% block content %}

<main class="container">
    <form method="post">
        {{ form.hidden_tag() }}

        <div class="row">
            <div class="col">Email:</div>
            {% if myself %}
            <div class="col-md-8">{{ myself['email'] }}</div>
            {% else %}
            <div class="col-md-8">example@example.com</div>
            {% endif %}
        </div>

        <div class="row">
            <div class="col">
                {{ form.curPassword.label(class="input-str label") }}
            </div>
            <div class="col-md-8">
                {{ form.curPassword() }}

                <div class="invalid-feedback">
                    {% for error in form.curPassword.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col">
                {{ form.newPassword.label(class="label input-str") }}
            </div>
            <div class="col-md-8">
                {{ form.newPassword() }}
                <div class="invalid-feedback">
                    {% for error in form.newPassword.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {{ form.passwordAgain.label(class="label input-str") }}
            </div>
            <div class="col-md-8">
                {{ form.passwordAgain() }}
                <div class="invalid-feedback">
                    {% for error in form.passwordAgain.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>


        <br>

        <div class="form-item confirm-item" id="submit">
            {{ form.submit() }}
            <input type="button" onclick="history.back();" class="button btn btn-primary" value="Cancel"/>
        </div>

    </form>
</main>

{% endblock %}