{% set title = "PIN"%}
{% set style_file = url_for('static', filename='css/pin.css')%}
{% extends 'base.html' %}

{% block content %}

<main class="container">
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col">
                {{ form.password.label(class="label input-str") }}
            </div>
            <div class="col">
                {{ form.password() }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <br>

        <div class="confirm-item" id="submit">
            {{ form.submit() }}
            <input type="button" onclick="history.back();" class="button btn btn-primary" value="Cancel"/>
        </div>

    </form>
</main>

{% endblock %}