{% set title = 'Your profile' %}
{% set style_file = url_for('static', filename='css/profile.css') %}
{% set script_file = url_for('static', filename='js/delete.js') %}

{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-sm left-item">
        <h1>{{ current_user["first_name"] + ' ' + current_user["last_name"] }}</h1>
    </div>
    <div class="col-sm right-item admin-item">

        {% if current_user['role'] == 1%}
        <a class="btn btn-info" href="profile/events"> Edit Events</a>
        {% endif %}

        <button class="btn btn-danger delete-btn" value="1,{{ current_user['id'] }}">Delete</button>
    </div>
</div>
<div class="row">

    <div class="col-sm">
        <div class="image-item">
            {% if current_user.get('photos', False) %}
            <img class="img-fluid img-thumbnail" src="{{ current_user['photos']['initial'] }}">
            {% else %}
            <img class="img-fluid img-thumbnail" src="/static/img/icons/other/user.svg">
            {% endif %}
        </div>
    </div>


    <div class="col-sm">

        <div class="card">
            <a class="edit-button" href="/profile/password">
                <img class="edit-icon" src="/static/img/icons/other/edit.svg">
                Login information
            </a>
            <div class="card-body">
                <p>E-mail: {{ current_user.get('email') }}</p>
                <p>Password: ******</p>
            </div>
        </div>

        <div class="card">
            <a class="edit-button" href="/profile/edit">
                <img class="edit-icon" src="/static/img/icons/other/edit.svg">
                Profile information
            </a>
            <div class="card-body">
                <p>First Name: {{ current_user['first_name'] }}</p>
                <p>Last Name: {{ current_user['last_name'] }}</p>
                <p>Country: {{ current_user['country']['name'] }}</p>
                {% if current_user['country']['numeric_code'] == '643' %}
                <p>Region: {{ current_user['region']['name'] }}</p>
                {% endif %}
                {% if current_user.get('about',False) %}
                <p>About: {{ current_user['about'] }}</p>
                {% endif %}
            </div>
        </div>

        <div class="card">
            <a class="edit-button" href="/pin">
                <img class="edit-icon" src="/static/img/icons/other/edit.svg">
                Personal Identification Number
            </a>
            <div class="card-body">
                {% if current_user.get('is_pin_set', False)%}
                <div class="left-item">
                    <p>PIN: ****</p>
                </div>
                <div class="right-item">
                    <a class="btn btn-warning" href="/pin">reset PIN</a>
                </div>
                {% else %}
                <div class="left-item">
                    <p>PIN: ____</p>
                </div>
                <div class="right-item">
                    <a class="btn btn-danger" href="/pin">set PIN</a>
                </div>
                {% endif %}
            </div>
        </div>

    </div>
</div>
{% endblock %}