{% set title = "Change Password"%}
{% set style_file = url_for('static', filename='css/password.css')%}
{% extends 'base.html' %}

{% block content %}

<h1>{{ title }}</h1>
<form method="post">
    {{ form.hidden_tag() }}

    <div class="row">
        <div class="col">Email</div>
        <div class="col-md-8">{{ current_user['email'] }}</div>
    </div>

    <div class="row">
        <div class="col">
            {{ form.cur_password.label(class="input-str label") }}
        </div>
        <div class="col-md-8">
            {{ form.cur_password() }}

            <div class="invalid-feedback">
                {% for error in form.cur_password.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col">
            {{ form.new_password.label(class="label input-str") }}
        </div>
        <div class="col-md-8">
            {{ form.new_password() }}
            <div class="invalid-feedback">
                {% for error in form.new_password.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ form.password_again.label(class="label input-str") }}
        </div>
        <div class="col-md-8">
            {{ form.password_again() }}
            <div class="invalid-feedback">
                {% for error in form.password_again.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>
    </div>


    <br>

    <div class="form-item confirm-item" id="submit">
        {{ form.submit() }}
        <input type="button" onclick="history.back();" class="button btn btn-primary" value="Cancel"/>
    </div>

</form>

{% endblock %}