{% set title = 'Register' %}
{% set script_file = url_for('static', filename='js/register.js') %}
{% set style_file = url_for('static', filename='css/register.css') %}

{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css">
{% endblock %}

{% block content %}
<main class="container">
    <h1>Register</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="row">

            <div class="col-sm">

                <div class="image-item">
                    {{ form.photo.label }}
                    <img id="preload" src="/static/img/icons/other/user.svg" class="img-thumbnail">
                    {{ form.photo() }}
                    <button type="button" class="btn btn-primary" id="croppie-toggler" data-toggle="modal" data-target="#croppie-modal" disabled>Create thumbnail</button>
                    <div class="invalid-feedback">
                        {% for error in form.photo.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="info">
                    <div class="form-item">
                        {{ form.first_name.label }}
                        {{ form.first_name() }}
                        <div class="invalid-feedback">
                            {% for error in form.first_name.errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-item">
                        {{ form.last_name.label }}
                        {{ form.last_name() }}
                        <div class="invalid-feedback">
                            {% for error in form.last_name.errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-item">
                        {{ form.country.label }}
                        {{ form.country() }}
                        <div class="invalid-feedback">
                            {% for error in form.country.errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-item" id="region-div">
                        {{ form.region.label }}
                        {{ form.region() }}
                        <div class="invalid-feedback">
                            {% for error in form.region.errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-item">
                        {{ form.email.label }}
                        {{ form.email() }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-item">
                        {{ form.password.label }}
                        {{ form.password() }}
                        <p id="passwordHelpBlock" class="form-text text-muted">
                            Password must be!
                        </p>
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-item">
                        {{ form.password_again.label }}
                        {{ form.password_again() }}
                        <div class="invalid-feedback">
                            {% for error in form.password_again.errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>

                    {% if message %}
                    <p class="alert alert-danger" role="alert">
                        {{message}}
                    </p>
                    {% endif %}

                    <br>

                    <div class="form-item confirm-item" id="submit">
                        {{ form.submit() }}
                        <input type="button" onclick="history.back();" class="button btn btn-primary" value="Cancel"/>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <div class="modal" id="croppie-modal" tabindex="-1" aria-labelledby="croppie-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="croppie-modal-label">Create thumbnail</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="thumbnail" style="width: 100%; height: 500px; margin-bottom: 32px;"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save-button">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</main>
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
{% endblock %}
