{% set title = 'Profile' %}
{% set style_file = url_for('static', filename='css/profile.css') %}

{% extends 'base.html' %}

{% block content %}
<main class="container">
    <h1>{{ title }} of {{ current_user.get("first_name") }} {{ current_user.get("last_name") }}</h1>
    <div class="row">

        <div class="col-sm">
            <div class="image-item">
                {% if current_user.get('photos', False) %}
                <img class="img-fluid img-thumbnail" src="{{ current_user.get('photos').get('initial') }}">
                {% else %}
                <img class="img-fluid img-thumbnail" src="/static/img/icons/other/user.svg">
                {% endif %}
            </div>
        </div>


        <div class="col-sm">

            <div class="card">
                <a href="/change-password" style="background-color: #89d6f7;">
                    <img src="/static/img/icons/other/edit.svg" width="7%" height="7%">
                    Login information
                </a>
                <div class="card-body">
                    <p>E-mail: {{ current_user.get('email') }}</p>
                    <p>Password: ******</p>
                </div>
            </div>

            <div class="card">
                <a href="/edit-profile" style="background-color: #89d6f7;">
                    <img src="/static/img/icons/other/edit.svg" width="7%" height="7%">
                    Profile information
                </a>
                <div class="card-body">
                    <p>First Name: {{ current_user['first_name'] }}</p>
                    <p>Last Name: {{ current_user['last_name'] }}</p>
                    <p>Country: {{ current_user['country']['name'] }}</p>
                    {% if current_user['country']['numeric_code'] == '643' %}
                    <p>Region: {{ current_user['region']['name'] }}</p>
                    {% endif %}
                    <p>About: {{ current_user['about'] }}</p>
                </div>
            </div>

            <div class="card">
                <a href="/pin" style="background-color: #89d6f7;">
                    <img src="/static/img/icons/other/edit.svg" width="7%" height="7%">
                    Personal Identification Number
                </a>
                <div class="card-body">
                    {% if current_user.get('is_pin_set', False)%}
                    <p class="left-item">PIN: ****</p>
                    <div class="right-item">
                        <a class="btn btn-success " href="/pin">reset PIN</a>
                    </div>
                    {% else %}
                    <p class="left-item">PIN: ____ </p>
                    <div class="right-item">
                        <a class="btn btn-warning" href="/pin">set PIN</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</main>
{% endblock %}